body, html {
    height: 100%;
}

body {
    font-family: Arial;
    background-color: white;
}

#outer {
    height: 100%;
    width: 100%;
    display: table;
}

#middle {
    top: 50%;
    vertical-align: middle;
    display: table-cell;
}

#inner {
    text-align: center;
}

#main{
    width: 320px;
    margin: -80px auto 0 auto;
    line-height: 2.5;
    text-align: center;
}

#title {
    text-align: center; 
    margin-top: -10em;
    margin-bottom: 5em;
    border-bottom: 2px solid #093;
}

#title span {
    display: inline-block;
    color: #3D9400;
    font-size: 18px;
    margin-left: 10px;
}

#alipay {
    width: 230px;
    margin: auto;
}

#alipay p {
  text-align: left;
  margin: 0 0 50px 0;
}


#alipay p img {
    float: right;
}
