body {
    margin: 0px;
    background-color: #EDE5D7;
}

#main {
    width: 670px;
    margin: 50px auto 30px auto;
    background-color: white;
    border-radius: 8px;
}

#header {
    background-color: black;
    color: #E2E2E2;
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid #777;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#options {
    border-top: 1px solid #333;
}

.option {
    padding: 1em;
    border-bottom: 1px solid #EDE5D7;
}

#close {
    text-align: right;
    padding: 1em 6em;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
