body {
    width: 410px;
    background-color: #E1E1E1;
    font-size: 14px;
}

#tabs {
    background-color: #2D2D2D;
}

#tabs ul {
    margin: 0px;
}

#tabs li {
    list-style-type: none;
    display: inline-block;
    padding: 0.75em 1.5em;
    color: #BBB;
    cursor: pointer;
}

#tabs li.selected {
    background-color: #E1E1E1;
    color: #DD4B39;
}

#tabs li a:hover {
    color: white;
    text-decoration: none;
}

#tabs li.selected a:hover {
    color: #DD4B39;
}

#main {

}

.notification {
    margin: 8px;
    padding: 6px;
    border-radius: 5px;
}

.wrapper {
    margin-left: 40px;
}

.see_all {
    text-align: center;
    margin: 8px;
    padding: 8px;
}

.see_all a {
    background-color: #DD4B39;
    border-radius: 3px;
    color: white;
    padding: 0.5em 1em;
}

.message {
    background-color: white;
    height: 100px;
    text-align: center;
    margin-top: 5px;
}

.loading {
    background-color: #F9EDBE;
    padding: 0.5em 2em;
    display: inline;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.header, .inner {
    display: none;
}

.cell {
    background-color: white;    
    margin: 8px;
    padding: 6px;
    border-radius: 5px;
}

.item_title a, .item_hot_topic_title a {
    color: #15C;
}

.node {
    color: #093;
}

.fade strong a {
    color: #777;
}

a.count_livid {
    padding: 0.5em;
    color: white;
    border-radius: 3px;
}

a.count_livid:link {
    background-color: #DD4B39;
}

a.count_livid:visited {
    background-color: #CCC; 
}

a.count_livid:hover {
    opacity: 0.6; 
    text-decoration: none;
}

.signin {
    text-align: center;
    vertical-align: middle;
    padding: 30px;
}

.signin span {
    display: inline-block;
    color: #333;
    background-color: white;
    padding: 1em 2em;
    margin: 1em;
    border-radius: 5px;
}

.signin a {
    display: inline-block;
    padding: 0.5em 2em;
    background-color: #DD4B39;
    color: white;
    border-radius: 3px;
}
