body {
    width: 600px;
    background-color: #F1F1F1;
    font-size: 14px;
}

.notification {
    margin: 5px;
    padding: 6px;
    border-radius: 5px;
}

.wrapper {
    margin-left: 40px;
}

#see_all {
    text-align: center;
    margin: 8px;
}

#see_all a {
    color: #15C;
}

#message {
    background-color: white;
    height: 100px;
    text-align: center;
}

.loading {
    background-color: #F9EDBE;
    padding: 0.5em 2em;
    display: inline;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
