body {
    margin: 0px;
    overflow-x: hidden;
    font-family: Arial;
}

#main {
    width: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #EDE5D7;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

a:link, a:visited, a:active {
    color: #778087;
    text-decoration: none;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
}

#notifications {
    width: 670px;
    margin: auto 15px;
    background-color: white;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.see_all {
    text-align: center;
    margin-top: 1em;
}

.cell {
    padding: 10px;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    border-bottom: 1px solid #E2E2E2;
}

.fade {
    color: #B6B6B6;
}

.snow {
    color: #CCC;
}

.header {
    display: none;
}

.node {
    display: none;
}

.payload {
    display: inline-block;
    background-color: whiteSmoke;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    line-height: 120%;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    max-height: 120px;
    overflow-y: auto;
}

.inner {
    display: none;
}

.message {
    padding: 1em;
    text-align: center;     
}
